/vendor/
/node_modules/
.env
.env.*
.phpunit.result.cache
/storage/*.key
/storage/app/public
/storage/framework/cache/data
/storage/framework/sessions
/storage/framework/testing
/storage/framework/views
/storage/logs
/public/storage
mysql_data/
composer.phar
npm-debug.log
yarn-error.log
.idea/
.vscode/
.DS_Store
Thumbs.dbmysql_data/
